<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Raspador do Telegram</h1>
        <h3>Monitoramento de grupos que costumam compartilhar desinformação. </h3>
        <nav>
            <a href="/dados"> Últimas </a>
            <a href="/maisvistas"> Mais vistas</a>
            <a href="/planilha"> Planilha </a>
        </nav>
    </div>
</body>
</html>
