<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mais vistas</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <ul>
           <a href="/">Home</a>
           <a href="/dados">Últimas</a>
           <a href="/planilha">Planilha</a>
        </ul>
    </nav>
    <div class="container">
        <h2>Mensagens mais vistas nas últimas 6 horas</h2>
        <table>
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Mensagem</th>
                    <th>Tipo de Mídia</th>
                    <th>Link da Mensagem</th>
                    <th>Data</th>
                    <th>Visualizações</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in top_mensagens %}
                <tr>
                    <td>{{ dado[0] }}</td>
                    <td>{{ dado[1] }}</td>
                    <td>{{ dado[2] }}</td>
                    <td><a href="{{ dado[3] }}" target="_blank">Ver Mensagem</a></td>
                    <td>{{ dado[4] }}</td>
                    <td>{{ dado[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

